     <div style="width: 100%; max-width: 1200px; padding: 12px 15px; margin: 0 auto;">
         <div>
             <script  type="text/javascript" src="https://forms-akamai.smsbump.com/59322/form_102100.js?ver=1773843695"></script>
         </div>
     </div>
     {% schema %}
     {
       "name": "Yotpo|Embed",
       "settings": [
         {
           "type" : "paragraph",
           "content" : "To edit your Embedded Form, go to [Yotpo SMS & Email](https://email-and-sms.yotpo.com/sms/) and open your Embedded Form. Save your updated form and refresh this page."
         }
       ],
       "presets": [
         {
           "name": "Yotpo|Embed",
           "category": "Yotpo Subscription Embed Forms"
         }
       ]
     }
     {% endschema %}
     {% stylesheet %}
     {% endstylesheet %}
     {% javascript %}
     {% endjavascript %}